<div class="container mt-3">
  <div class="row">
    <div class="col-6">
      <div style="color: #f00;">TodosComponent</div>
      <app-todos></app-todos>
    </div>
    <div class="col-6">
      <div style="color: #00f;">ParkingPriceComponent</div>
      <app-parking-price></app-parking-price>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-6">
      <div style="color: darkgreen;">FileSizeComponent</div>
      <app-file-size></app-file-size>
    </div>
    <div class="col-6">
      <div style="color: goldenrod;">AddressUtilsComponent</div>
      <app-address-utils></app-address-utils>
    </div>
  </div>
</div>
